@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  h1 {
    @apply font-extrabold text-2xl mb-3;
  }
}
/* to overwrite styles in base on line 1 (it defaults to unstyled heading tags) */
/* @apply is a directive to apply any styling we want */
